{% extends 'layout.html' %} {% block body %}
<div class="row">
<div class="col-sm-4">
    <div class="card card-body">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p></p>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {%endfor%}
        {% endif %}
        {% endwith %}
        <form action="/index" method="post">
            <div>
                <h3 class="text-center">Inicia sesion</h3>
            </div>
            <div class="from-group mb-2">
            <input type="text" name="email" class="form-control" placeholder="Correo electronico">
            </div>
            <div class="from-group mb-2">
            <input type="password" name="password" class="form-control" placeholder="Clave">
            </div>
            <div class="from-group mb-2">
            <button type="submit" class="btn btn-primary btn-block w-100">
                Ingresar
            </button>
            </div>
            <div class="text-center h-auto">
                <a href="/registrar" class="link-primary">
                    REGISTRATE AQUI 
                </a>
            </div>
        </form>
    </div>
</div>
<div class="col" >
    <div class="card card-body">
        <h3 class="text-center">SARS</h3>
        <p>Bienvenidos a SARS, tu herramienta más fiable a la hora de organizar el stock de tu empresa. La facilidad, simpleza y agilidad son las principales características de SARS, un sistema confiable en el cual podrás tener control total sobre tus productos y poder guardarlos de forma segura con nosotros.</p>
        <h5>Inventario</h5>
        <p>Con SARS, puedes mantener tu Inventario al día con un par de simples clics. A medida que utilices la herramienta, podrás apreciar lo fácil que puede llegar a ser estar bien administrado.</p>
        <h5>Simpleza</h5>
        <p>Su amigable diseño, permite la facil interaccion entre el usuario y SARS, contemplando las necesidades de todo tipo de publico.</p>
    </div>
</div>
</div>
{% endblock %}
